<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>formidable文件上传</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/form.css">
</head>
<body>
    <div id="container" class="container">
        <div id="errorTip" class="alert alert-warning">请选择要上传的文件！</div>
        <div id="typeTip" class="alert alert-warning">只允许上传jpg和png文件！</div>
        <form class="form-signin" role="form" method="post" enctype='multipart/form-data'>
            <h2 class="form-signin-heading">上传文件</h2>
            <input id="file-info" name="fileInfo" type="file" class="form-control" multiple />
            <br/>
            <button id="btnSub" class="btn btn-lg btn-primary" type="submit">上 传</button>
        </form>
        <p id="file_num"></p>
    </div>
    <div class="container">
        <ul id="file_list">
        </ul>
    </div>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="../public/js/action.js"></script>
</body>
</html>